# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/carTackManagerSystem/.vs/carTackManagerSystem/v16
/carTackManagerSystem/carTackManagerSystem/__vm
/carTackManagerSystem/carTackManagerSystem/Debug
*.filters
/carTackManagerSystem/.vs/carTackManagerSystem
/carTackManagerSystem/carTackManagerSystem/ARM/Release
/carTackManagerSystem/carTackManagerSystem/x64
/carTackManagerSystem/carTrackUnitTest/Debug
/carTackManagerSystem/carTrackManagerSystem_FrameworkVersion/Debug
/carTackManagerSystem/carTrackManagerSystem_FrameworkVersion/__vm
/carTackManagerSystem/Debug
/carTackManagerSystem/carTrackUnitTest/x64/Debug
*.exp
